# Re-useable version of the "main" workflow such that it can be used both
# for pull requests/CI and for creating the release.
on:
  workflow_call:
    inputs:
      # Whether to publish artifacts to the named release
      publish-artifacts:
        type: string
      # The name of the release to publish artifacts to
      release-name:
        type: string
      # The name of the workflow to use for cancelling previous runs
      workflow-name:
        type: string

# cf. https://github.com/mamba-org/provision-with-micromamba#important
defaults:
  run:
    shell: bash -l {0}

env:
  # Path to the directory with ClinVar JSONL download.
  CLINVAR_JSONL_DIR: /home/runner/work/clinvar
  # Parse to the directory with clinvar-tsv output files.
  OUTPUT_DIR: /home/runner/work/output
  # Python version
  PYTHON_VERSION: "3.10"
  # annonars package version
  ANNONARS_VERSION: "0.24.2"
  # Helper to get unique cache keys
  CACHE_SEED: 1
  # Maximal number of RCVs to process (0 = no limit).
  MAX_RCVS: 0

jobs:
  cancel-previous:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    steps:
      - uses: khan/pull-request-workflow-cancel@1.0.0
        with:
          workflows: ${{ inputs.workflow-name }}
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

  # Download-ClinVar: Download "weekly" ClinVar JSONL file.
  Download-ClinVar:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/download-clinvar

  # Clinvar-Minimal: import variants+clinsigs info for Mehari
  Clinvar-Minimal:
    runs-on: ubuntu-latest
    needs:
      - Download-ClinVar
    strategy:
      matrix:
        genome_release:
          - GRCh37
          - GRCh38
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/clinvar-minimal-import
        with:
          publish-artifacts: ${{ inputs.publish-artifacts }}
          release-name: ${{ inputs.release-name }}
          token: ${{ secrets.GITHUB_TOKEN }}

  # Clinvar-Genes: import gene-wise information
  Clinvar-Genes:
    runs-on: ubuntu-latest
    needs:
      - Download-ClinVar
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/clinvar-genes-import
        with:
          publish-artifacts: ${{ inputs.publish-artifacts }}
          release-name: ${{ inputs.release-name }}
          token: ${{ secrets.GITHUB_TOKEN }}
